p{
margin: 10px;
border: 2px black solid;
padding: 2px;
}
body{
  margin: 8px;
  padding: 5px;
}
main{
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border-radius: 15px;
  width: 800px;
}

